h1 {
    text-align: center;
}

/* table {
    margin: auto;
    border-collapse: collapse;
    font-size: 10px;
    text-align: center;

} */

/* table, tr, th {
    border: 5px black solid;
    margin-bottom: 50px;
} */

ul {
    list-style: none;
}

li {
    border: 5px black solid;
    display: inline-block;
}

.dates {
    text-align: center;
    display: list-item
}

.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.green {
    color: green;
}