body {
    background: url(https://c1.wallpaperflare.com/preview/625/257/190/calendar-book-2018-date.jpg) no-repeat center/cover;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 45px;
}

ul {
    list-style: none;
    margin-left: 12%;
}

li {
    border: 5px black solid;
    display: inline-block;
    padding: 25px;
    font-size: 18px;
}

.inputes {
    text-align: center;
    display: list-item
}

.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}